<div class="brands">
  <div class="brands-brand">
    <img src="../../../../assets/images/brand1.png" />
  </div>
  <div class="brands-brand">
    <img src="../../../../assets/images/brand2.png" />
  </div>
  <div class="brands-brand">
    <img src="../../../../assets/images/brand3.png" />
  </div>
  <div class="brands-brand">
    <img src="../../../../assets/images/brand4.png" />
  </div>
  <div class="brands-brand">
    <img src="../../../../assets/images/brand5.png" />
  </div>
  <div class="brands-brand">
    <img src="../../../../assets/images/brand6.png" />
  </div>
</div>
